.new-expense {
    background-color: #4dbebc;
    padding: 1rem;
    margin: 0px auto 2rem auto;
    width: 50rem;
    max-width: 95%;
    /* border-radius: 12px; */
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #024853;
    background-color: #024853;
    color: white;
    /* border-radius: 12px; */
    margin-left: 1rem;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #062d33;
    border-color: #062d33;
  }
  
  .new-expense button.alternative {
    color: #062d33;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }